* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Recursive", serif;
  font-variation-settings: "slnt" 0, "CASL" 0, "CRSV" 0, "MONO" 1;
  width: 100%;
  overflow-x: hidden;
}
